$paragraph: 'Open Sans', sans-serif;
$header: 'Catamaran', sans-serif;

$blue: #374F95;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  h3 {
    font-size: 25px;
    margin: 0;
    font-family: $header;
  }

  p {
    font-size: 19px;
    margin: 0;
    font-family: $paragraph;
  }
}



#home {
  height: 100vh;
  position: relative;
  background-image: url('../img/enrapture.jpg');
  background-size: cover;
  background-position: center;

  header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.14);
    // position: fixed;
    // z-index: 1;

    .container {
      height: 100px;
      display: flex;
      align-items: center;
      padding: 0 5%;

      a {
        color: #fff;
        text-decoration: none;
        font-family: $header;
        font-size: 25px;
      }

      .divider {
        flex: 1;
      }

      .menu-toggle {}

      nav {
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          text-align: center;
          display: flex;

          li {
            display: inline;
            padding: 0 20px;

            a {
              text-decoration: none;
              color: #fff;
              font-size: 20px;
              font-family: $header;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  .shortcut {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h4 {
      font-family: $header;
      font-size: 60px;
      color: #fff;
      margin: 0;
      padding-bottom: 40px;
      font-weight: bold;
      line-height: 60px;
    }

    a {
      padding: 15px 50px;
      text-decoration: none;
      font-family: $header;
      font-size: 20px;
      color: #fff;
      border: 1px solid #fff;

      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }

  // .box {
  //   position: relative;
  //   width: 90%;
  //   height: 80%;
  //   margin: auto;
  //
  //   img {
  //     position: absolute;
  //     width: 100%;
  //     height: 100%;
  //     object-fit: cover;
  //   }
  // }
}

@media only screen and (max-width:768px) {
  #home {
    header {
      nav {
        display: none;
      }
    }
  }
}

@media only screen and (min-width:769px) {
  #home {}
}


#about {
  padding: 50px 0;

  .wrapper {
    display: flex;

    .desc {
      h3 {
        padding: 10px 0;
      }
    }

    .image {
      img {
        width: 80%;
        display: block;
        object-fit: cover;
      }
    }
  }
}

@media (max-width:768px) {
  #about {
    margin: 50px 0;

    h3 {}
    .wrapper {
      flex-direction: column;

      .desc {
        padding: 0 13%;

        p {}
      }

      .image {
        img {
          height: 300px;
          margin: 50px auto 30px;
        }
      }
    }
  }
}

@media (min-width:769px) {
  #about {
    margin: 90px 0;

    .wrapper {
      .desc, .image {
        width: 50%;
      }

      .desc {
        margin: 50px 0;
        float: right;

        h3, p {
          padding-left: 10%;
          padding-right: 10%;
        }
      }

      .image {
        position: relative;

        img {
          position: absolute;
          height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}


#information {
  background: $blue;
  color: #fff;

  h4, p {
    margin: 0;
  }

  h4 {
    font-size: 30px;
    font-family: $header;
  }

  p {
    font-size: 20px;
    font-family: $paragraph;
  }
}

@media (max-width:799px) {
  #information {
    text-align: center;
    padding: 20px;

    .child {
      padding: 30px 0;
    }
  }
}

@media (min-width:800px) {
  #information {
    display: flex;
    padding: 40px 10px;

    .child {
      width: 25%;
      text-align: center;
      padding: 20px;
    }
  }
}


#services {
  margin-top: 70px;
  padding: 50px 0;

  h3 {
    text-align: center;
  }

  .container {
    .box {
      text-align: center;
      margin: 15px;
      width: 90%;
      max-width: 270px;

      img {
        border-radius: 50%;
        height: 140px;
        width: 140px;
        object-fit: cover;
      }

      h3 {
        font-size: 20px;
        padding-top: 20px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

@media only screen and (max-width:959px) {
  #services {
    .container {
      .box {
        margin: 40px auto;
        padding: 20px 0;
      }
    }
  }
}

@media only screen and (min-width:960px) {
  #services {
    .container {
      display: flex;
      margin-top: 100px;
      margin-left: 3%;
      margin-right: 3%;

      .box {
        margin: 0 auto;
        padding: 0 10px;
      }
    }
  }
}


#blog {
  padding: 50px 0;
  height: 100vh;

  h3 {
    text-align: center;
  }
}


#tracking {
  text-align: center;
  background: $blue;
  padding: 100px 20px;
  color: #fff;

  h3 {
    font-size: 30px;
  }

  p {
    font-size: $paragraph;
    font-size: 20px;
    margin: 0;
    padding-bottom: 40px;
  }

  a {
    padding: 10px 50px;
    text-decoration: none;
    font-family: $header;
    font-size: 20px;
    color: #fff;
    border: 1px solid #fff;

    &:hover {
      background: #fff;
      color: #000;
    }
  }
}


#contact {
  margin: 80px 0;
  padding-top: 50px;

  .info {
    text-align: center;

    .desc {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      .item {
        margin: 20px 7%;
        h4 {
          font-family: $header;
          font-size: 20px;
          margin: 0;
        }

        a {
          font-size: 19px;
          margin: 0;
          font-family: $paragraph;
          color: #000;
          text-decoration: none;
        }
      }
    }
  }

  .container {
    display: flex;

    .box {
      #map {}
    }

    .content {
      margin: 60px 0;

      form {
        display: flex;
        flex-direction: column;
        text-align: center;

        font-family: $paragraph;

        input[type=text], input[type=email], textarea {
          border: none;
          border-bottom: 1px solid #000;
          font-size: 20px;
          margin: 10px;
          padding: 10px 0;
          color: #000;
          outline: none;
        }

        textarea {
          min-height: 180px;
          resize: vertical;
        }

        input[type=submit] {
          min-width: 35%;
          max-width: 40%;
          font-size: 20px;
          background: #fff;
          border: 1px solid #000;
          padding: 12px;
          margin: 10px;
          outline: none;

          &:hover {
            background: $blue;
            border: 1px solid $blue;
            color: #fff;
          }
        }
      }
    }
  }
}

@media only screen and (max-width:768px) {
  #contact {
    .info {
      margin-bottom: 30px;
      .desc {
        flex-direction: column;
      }
    }

    .container {
      flex-direction: column;

      .content {
        width: 80%;
        max-width: 440px;
        margin: auto;
      }

      .box {
        #map {
          height: 350px;
          margin: 40px 8%;
        }
      }
    }
  }
}

@media only screen and (min-width:769px) {
  #contact {
    .info {
      margin-bottom: 70px;
    }

    .container {
      .content, .box {
        width: 50%;
      }

      .content {
        form {
          width: 80%;
        }
      }

      .box {
        #map {
          height: 100%;
          margin-left: 15%;
          padding-left: 10%;
        }
      }

      .content {
        padding-left: 7%;
        form {}
      }
    }
  }
}


footer {
  background: $blue;
  height: 120px;
  text-align: center;

  h5 {
    font-family: $header;
    font-size: 18px;
    color: #fff;
    padding-top: 50px;
    margin: 0;
  }
}
