body {
  margin: 0;
}
body h3 {
  font-size: 25px;
  margin: 0;
  font-family: "Catamaran", sans-serif;
}
body p {
  font-size: 19px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

#home {
  height: 100vh;
  position: relative;
  background-image: url("../img/enrapture.jpg");
  background-position: center;
  background-size: cover;
}
#home header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.14);
  position: fixed;
  z-index: 1;
}
#home header .container {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 5%;
}
#home header .container a {
  color: #fff;
  text-decoration: none;
  font-family: "Catamaran", sans-serif;
  font-size: 25px;
}
#home header .container .divider {
  flex: 1;
}
#home header .container nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
}
#home header .container nav ul li {
  display: inline;
  padding: 0 20px;
}
#home header .container nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-family: "Catamaran", sans-serif;
}
#home header .container nav ul li a:hover {
  text-decoration: underline;
}
#home header .container nav ul li.active a {
  text-decoration: underline;
}
#home header.scrolled {
  background: #fff;
}
#home header.scrolled .container a, #home header.scrolled .container nav ul li a {
  color: #000;
}
#home .shortcut {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#home .shortcut h4 {
  font-family: "Catamaran", sans-serif;
  font-size: 60px;
  color: #fff;
  margin: 0;
  padding-bottom: 40px;
  font-weight: bold;
  line-height: 60px;
}
#home .shortcut a {
  padding: 15px 50px;
  text-decoration: none;
  font-family: "Catamaran", sans-serif;
  font-size: 20px;
  color: #fff;
  border: 1px solid #fff;
}
#home .shortcut a:hover {
  background: #fff;
  color: #000;
}

@media only screen and (max-width: 768px) {
  #home header nav {
    display: none;
  }
}
#about {
  padding: 120px 0;
}
#about .wrapper {
  display: flex;
}
#about .wrapper .desc h3 {
  padding: 10px 0;
}
#about .wrapper .image img {
  width: 80%;
  display: block;
  object-fit: cover;
}

@media (max-width: 768px) {
  #about .wrapper {
    flex-direction: column;
  }
  #about .wrapper .desc {
    padding: 0 13%;
  }
  #about .wrapper .image img {
    height: 300px;
    margin: 50px auto 30px;
  }
}
@media (min-width: 769px) {
  #about .wrapper .desc, #about .wrapper .image {
    width: 50%;
  }
  #about .wrapper .desc {
    margin: 50px 0;
    float: right;
  }
  #about .wrapper .desc h3, #about .wrapper .desc p {
    padding-left: 10%;
    padding-right: 10%;
  }
  #about .wrapper .image {
    position: relative;
  }
  #about .wrapper .image img {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
#information {
  background: #374F95;
  color: #fff;
}
#information h4, #information p {
  margin: 0;
}
#information h4 {
  font-size: 30px;
  font-family: "Catamaran", sans-serif;
}
#information p {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 799px) {
  #information {
    text-align: center;
    padding: 20px;
  }
  #information .child {
    padding: 30px 0;
  }
}
@media (min-width: 800px) {
  #information {
    display: flex;
    padding: 40px 10px;
  }
  #information .child {
    width: 25%;
    text-align: center;
    padding: 20px;
  }
}
#services {
  padding-top: 120px;
}
#services h3 {
  text-align: center;
}
#services .container .box {
  text-align: center;
  margin: 15px;
  width: 90%;
  max-width: 270px;
}
#services .container .box img {
  border-radius: 50%;
  height: 160px;
  width: 160px;
  object-fit: cover;
}
#services .container .box h3 {
  font-size: 20px;
  padding-top: 20px;
}

@media only screen and (max-width: 959px) {
  #services .container .box {
    margin: 40px auto;
    padding: 20px 0;
  }
}
@media only screen and (min-width: 960px) {
  #services .container {
    display: flex;
    margin-top: 60px;
    margin-left: 3%;
    margin-right: 3%;
  }
  #services .container .box {
    margin: 0 auto;
    padding: 0 10px;
  }
}
#blog {
  padding: 120px 0;
}
#blog h3 {
  text-align: center;
}

#tracking {
  text-align: center;
  background: #374F95;
  padding: 100px 20px;
  color: #fff;
}
#tracking h3 {
  font-size: 30px;
}
#tracking p {
  font-size: "Open Sans", sans-serif;
  font-size: 20px;
  margin: 0;
  padding-bottom: 40px;
}
#tracking a {
  padding: 10px 50px;
  text-decoration: none;
  font-family: "Catamaran", sans-serif;
  font-size: 20px;
  color: #fff;
  border: 1px solid #fff;
}
#tracking a:hover {
  background: #fff;
  color: #000;
}

#contact {
  padding: 120px 0;
}
#contact .info {
  text-align: center;
}
#contact .info .desc {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#contact .info .desc .item {
  margin: 20px 7%;
}
#contact .info .desc .item h4 {
  font-family: "Catamaran", sans-serif;
  font-size: 20px;
  margin: 0;
}
#contact .info .desc .item a {
  font-size: 19px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #000;
  text-decoration: none;
}
#contact .container {
  display: flex;
}
#contact .container .content {
  margin: 60px 0;
}
#contact .container .content form {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
#contact .container .content form input[type=text], #contact .container .content form input[type=email], #contact .container .content form textarea {
  border: none;
  border-bottom: 1px solid #000;
  font-size: 20px;
  margin: 10px;
  padding: 10px 0;
  color: #000;
  outline: none;
}
#contact .container .content form textarea {
  min-height: 180px;
  resize: vertical;
}
#contact .container .content form input[type=submit] {
  min-width: 35%;
  max-width: 40%;
  font-size: 20px;
  background: #fff;
  border: 1px solid #000;
  padding: 12px;
  margin: 10px;
  outline: none;
}
#contact .container .content form input[type=submit]:hover {
  background: #374F95;
  border: 1px solid #374F95;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  #contact .info {
    margin-bottom: 30px;
  }
  #contact .info .desc {
    flex-direction: column;
  }
  #contact .container {
    flex-direction: column;
  }
  #contact .container .content {
    width: 80%;
    max-width: 440px;
    margin: auto;
  }
  #contact .container .content input[type=text], #contact .container .content input[type=email], #contact .container .content textarea {
    border: none;
    border-bottom: 1px solid #000;
  }
  #contact .container .content input[type=submit] {
    min-width: 35%;
    max-width: 40%;
    font-size: 20px;
    background: #fff;
    border: 1px solid #000;
    padding: 12px;
    margin: 10px;
    outline: none;
  }
  #contact .container .content input[type=submit]:hover {
    background: #374F95;
    border: 1px solid #374F95;
    color: #fff;
  }
  #contact .container .box #map {
    height: 350px;
    margin: 40px 8%;
  }
}
@media only screen and (min-width: 769px) {
  #contact .info {
    margin-bottom: 70px;
  }
  #contact .container .content, #contact .container .box {
    width: 50%;
  }
  #contact .container .content form {
    width: 80%;
  }
  #contact .container .box #map {
    height: 100%;
    margin-left: 15%;
    padding-left: 10%;
  }
  #contact .container .content {
    padding-left: 7%;
  }
}
footer {
  background: #374F95;
  height: 120px;
  text-align: center;
}
footer h5 {
  font-family: "Catamaran", sans-serif;
  font-size: 18px;
  color: #fff;
  padding-top: 50px;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
