// fonts
$paragraph: 'Open Sans', sans-serif;
$header: 'Catamaran', sans-serif;

// colors
$blue: #1B4658;
$off-white: rgba(229, 229, 229, 0.73);


body {
  margin: 0;

  h3 {
    font-size: 25px;
    margin: 0;
    font-family: $header;
  }

  p {
    font-size: 19px;
    margin: 0;
    font-family: $paragraph;
  }

  &.noScroll {
    overflow: hidden;
  }
}


#home {
  height: 100vh;
  position: relative;
  background-image: url('https://ucarecdn.com/8e4482f3-96ce-4bf7-8bdd-d0914ecf97e5/rsz_enrapture.jpg');
  background-size: cover;

  header {
    background: rgba(255, 255, 255, 0.14);
    position: fixed;
    width: 100%;
    z-index: 2;

    .container {
      display: flex;
      align-items: center;
      padding: 35px 10%;

      h3, a {
        color: #fff;
      }

      .divider {
        flex: 1;
      }

      nav {
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;

          li {
            a {
              text-decoration: none;
              font-size: 20px;
            }

            &:hover, &.active {
              border-bottom: 1px solid #fff;
            }
          }
        }
      }
    }

    &.scrolled {
      background: #fff;

      .container {
        h3, a, .hotdog {
          color: #000;
        }

        nav {
          ul {
            li {
              &:hover, &.active {
                border-bottom: 1px solid #000;
              }
            }
          }
        }
      }
    }
  }

  .shortcut {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;

    h4 {
      font-family: $header;
      font-size: 60px;
      color: #fff;
      margin: 0;
      padding-bottom: 40px;
      font-weight: bold;
      line-height: 60px;
    }

    a {
      padding: 15px 50px;
      text-decoration: none;
      font-family: $header;
      font-size: 20px;
      color: #fff;
      border: 1px solid #fff;

      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }
}

@media only screen and (max-width:894px) {
  #home {
    header {
      .container {
        .menu-btn {
          color: #fff;

          &.hotdog {
            font-size: 25px;
          }

          &.close {
            position: absolute;
            top: 35px;
            right: 10%;
            font-size: 30px;
            color: #000;
          }
        }

        nav {
          background: #fff;
          position: fixed;
          width: 100%;
          height: 100vh;
          top: 0;
          left: 0;
          transition: 0.5 ease-in;
          transform: translate(100%);

          ul {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            li {
              padding: 20px;

              a {
                color: #000;
              }

              &:hover, &.active {
                border-bottom: 1px solid #000;
              }
            }
          }

          &.open {
            transform: translate(0);
          }
        }
      }
    }
  }
}

@media only screen and (min-width:895px) {
  #home {
    header {
      .container {
        .menu-btn {
          display: none;
        }

        nav {
          ul {
            li {
              display: inline;
              padding: 10px 15px;
            }
          }
        }
      }

      &.scrolled {
          nav {
            ul {
              li {
                &:hover, &.active {
                  border-bottom: 1px solid #000;
                }
              }
            }
          }
        }
      }
    }
}


#about {
  padding: 120px 0;

  .wrapper {
    display: flex;

    .desc {
      h3 {
        padding: 10px 0;
      }
    }

    .image {
      img {
        width: 80%;
        display: block;
        object-fit: cover;
      }
    }
  }
}

@media (max-width:768px) {
  #about {
    h3 {}
    .wrapper {
      flex-direction: column;

      .desc {
        padding: 0 13%;

        p {}
      }

      .image {
        img {
          height: 300px;
          margin: 50px auto 30px;
        }
      }
    }
  }
}

@media (min-width:769px) {
  #about {
    .wrapper {
      .desc, .image {
        width: 50%;
      }

      .desc {
        margin: 50px 0;
        float: right;

        h3, p {
          padding-left: 10%;
          padding-right: 10%;
        }
      }

      .image {
        position: relative;

        img {
          position: absolute;
          height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}


#information {
  background: $blue;
  color: #fff;

  h4, p {
    margin: 0;
  }

  h4 {
    font-size: 30px;
    font-family: $header;
  }

  p {
    font-size: 20px;
    font-family: $paragraph;
  }
}

@media (max-width:799px) {
  #information {
    text-align: center;
    padding: 20px;

    .child {
      padding: 30px 0;
    }
  }
}

@media (min-width:800px) {
  #information {
    display: flex;
    padding: 40px 10px;

    .child {
      width: 25%;
      text-align: center;
      padding: 20px;
    }
  }
}


#services {
  padding-top: 120px;

  h3 {
    text-align: center;
  }

  .container {
    .box {
      text-align: center;
      margin: 15px;
      width: 90%;
      max-width: 270px;

      img {
        border-radius: 50%;
        height: 160px;
        width: 160px;
        object-fit: cover;
      }

      h3 {
        font-size: 20px;
        padding-top: 20px;
      }
    }
  }
}

@media only screen and (max-width:959px) {
  #services {
    .container {
      .box {
        margin: 40px auto;
        padding: 20px 0;
      }
    }
  }
}

@media only screen and (min-width:960px) {
  #services {
    .container {
      display: flex;
      margin-top: 60px;
      margin-left: 3%;
      margin-right: 3%;

      .box {
        margin: 0 auto;
        padding: 0 10px;
      }
    }
  }
}


#tracking {
  text-align: center;
  background: $blue;
  color: #fff;
  padding: 100px 20px;
  margin-top: 150px;

  h3 {
    font-size: 30px;
  }

  p {
    font-size: $paragraph;
    font-size: 20px;
    margin: 0;
    padding-bottom: 40px;
  }

  a {
    padding: 10px 50px;
    text-decoration: none;
    font-family: $header;
    font-size: 20px;
    color: #fff;
    border: 1px solid #fff;

    &:hover {
      background: #fff;
      color: #000;
    }
  }
}


#contact {
  padding: 120px 0;

  .info {
    text-align: center;

    .desc {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      .item {
        margin: 20px 7%;
        h4 {
          font-family: $header;
          font-size: 20px;
          margin: 0;
        }

        a {
          font-size: 19px;
          margin: 0;
          font-family: $paragraph;
          color: #000;
          text-decoration: none;
        }
      }
    }
  }

  .container {
    display: flex;

    .box {
      #map {}
    }

    .content {
      margin: 60px 0;

      form {
        display: flex;
        flex-direction: column;
        text-align: center;

        font-family: $paragraph;

        input[type=text], input[type=email], textarea {
          border: none;
          border-bottom: 1px solid #000;
          font-size: 20px;
          margin: 10px;
          padding: 10px 0;
          color: #000;
          outline: none;
        }

        textarea {
          min-height: 180px;
          resize: vertical;
        }

        input[type=submit] {
          min-width: 35%;
          max-width: 40%;
          font-size: 20px;
          background: #fff;
          border: 1px solid #000;
          padding: 12px;
          margin: 10px;
          outline: none;

          &:hover {
            background: $blue;
            border: 1px solid $blue;
            color: #fff;
          }
        }
      }
    }
  }
}

@media only screen and (max-width:768px) {
  #contact {
    .info {
      margin-bottom: 30px;
      .desc {
        flex-direction: column;
      }
    }

    .container {
      flex-direction: column;

      .content {
        width: 80%;
        max-width: 440px;
        margin: auto;

        input, textarea {
          border-radius: none;
        }
      }

      .box {
        #map {
          height: 350px;
          margin: 40px 8%;
        }
      }
    }
  }
}

@media only screen and (min-width:769px) {
  #contact {
    .info {
      margin-bottom: 70px;
    }

    .container {
      .content, .box {
        width: 50%;
      }

      .content {
        form {
          width: 80%;
        }
      }

      .box {
        #map {
          height: 100%;
          margin-left: 15%;
          padding-left: 10%;
        }
      }

      .content {
        padding-left: 7%;
        form {}
      }
    }
  }
}


footer {
  background: $blue;
  height: 120px;
  text-align: center;

  h5 {
    font-family: $header;
    font-size: 18px;
    color: #fff;
    padding-top: 50px;
    margin: 0;
  }
}
