@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,800&display=swap");

// fonts
$sans: "Open Sans", sans-serif;

// colors
$blue: #1b4658;
$off-white: rgba(229, 229, 229, 0.73);

html {
  font-family: $sans;

  h3 {
    font-size: 25px;
    font-weight: bold;
  }

  p {
    font-size: 16px;
    line-height: 25px;
  }

  &.overflow {
    overflow: hidden;
  }
}

// navigation section starts here
nav {
  background: rgba(255, 255, 255, 0.08);
  position: fixed;
  width: 100%;
  z-index: 2;

  .menu-container {
    display: flex;
    align-items: center;
    padding: 30px 5%;

    .brand {
      display: flex;
      align-items: center;

      img {
        width: 40px;
        margin-right: 10px;
      }

      h3 {
        color: #fff;
        font-weight: bold;
      }
    }

    .menu-divider {
      flex: 1;
    }

    .menu-items {
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
          border: 2px solid transparent;

          a {
            font-size: 18px;
            text-decoration: none;
          }

          &:hover,
          &.active {
            border-bottom: 2px solid #fff;
          }
        }

        .login-bttn {
          border: 1px solid #fff;

          &:hover,
          &.active {
            border: 1px solid #fff;
            background-color: #fff;

            a {
              color: $blue;
            }
          }
        }
      }
    }

    .menu-button {
      display: inline-block;
      height: 30px;
      width: 30px;

      .bar {
        height: 1px;
        background-color: #fff;
        margin: 7px 0;
        transition: 0.4s;
      }

      &.show {
        .bar {
          background-color: #000;
        }

        .top {
          transform: rotate(-45deg) translate(-4px, 7px);
        }

        .middle {
          opacity: 0;
        }

        .bottom {
          transform: rotate(45deg) translate(-4px, -7px);
        }
      }
    }
  }

  &.scrolled {
    background-color: #fff;

    .menu-container {
      h3 {
        color: #000;
      }

      .menu-items {
        ul {
          li {
            a {
              color: #000;
            }

            &:hover,
            &.active {
              border-bottom: 2px solid $blue;
            }
          }

          .login-bttn {
            border-color: #000;

            &:hover,
            &.active {
              border: 1px solid $blue;
              background-color: $blue;

              a {
                color: #fff;
              }
            }
          }
        }

        .menu-button {
          .bar {
            background-color: #000;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  nav {
    .menu-container {
      .menu-items {
        position: absolute;
        background: #fff;
        height: 100vh;
        width: 100vw;
        top: 0;
        right: 0;
        transition: transform 0.2s ease-out;
        transform: translateX(100%);

        ul {
          position: absolute;
          flex-direction: column;
          text-align: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          li {
            padding: 10px 15px;
            margin: 10px 0;

            a {
              color: #000;
            }

            &.active {
              border-bottom: 1px solid $blue;
            }
          }

          .login-bttn {
            border: 1px solid $blue;
            background-color: $blue;

            a {
              color: #fff;
            }
          }
        }

        &.show {
          transform: translateX(0%);
        }
      }
    }
  }
}

@media only screen and (min-width: 1001px) {
  nav {
    .menu-container {
      .menu-items {
        ul {
          li {
            padding: 10px 20px;
            display: inline;

            a {
              color: #fff;
            }
          }
        }
      }

      .menu-button {
        display: none;
      }
    }
  }
}

// navigation section ends here

#home {
  height: 100vh;
  position: relative;
  background-image: url("https://ucarecdn.com/8e4482f3-96ce-4bf7-8bdd-d0914ecf97e5/rsz_enrapture.jpg");
  background-size: cover;

  .shortcut {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;

    h4 {
      font-size: 60px;
      color: #fff;
      margin: 0;
      padding-bottom: 40px;
      font-weight: bold;
      line-height: 60px;
    }

    a {
      padding: 15px 50px;
      text-decoration: none;

      font-size: 20px;
      color: #fff;
      border: 1px solid #fff;

      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }
}

#about {
  padding: 140px 10% 0;

  .image {
    background-image: url("https://ucarecdn.com/49bf06b6-c237-49c3-a246-51845d760ef9/rsz_bandura.jpg");
    background-position: center;
    background-size: cover;
    min-height: 300px;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 90px 5%;

    h3 {
      margin-bottom: 15px;
    }
  }
}

@media only screen and (max-width: 991px) {
  #about {
    .text {
      padding: 0;
      margin-top: 50px;
    }
  }
}

#stats {
  background: $blue;
  text-align: center;
  color: #fff;

  padding: 60px 5%;

  .stat {
    margin: 15px 0;
    h3 {
      margin-bottom: 15px;
    }
  }
}

#credit-cards {
  padding: 100px 20%;
  text-align: center;

  h3 {
    margin: 20px 0 30px;
  }

  .row {
    align-items: center;

    img {
      width: 50%;
      max-width: 150px;
      margin: 20px;
    }
  }
}

#tracking {
  text-align: center;
  background: $blue;
  color: #fff;
  padding: 100px 20px;

  p {
    padding: 10px 0 40px;
  }

  a {
    padding: 10px 50px;
    text-decoration: none;

    color: #fff;
    border: 1px solid #fff;

    &:hover {
      background: #fff;
      color: #000;
    }
  }
}

#services {
  padding: 130px 5%;

  h3 {
    text-align: center;
    margin-bottom: 50px;
  }

  .box {
    text-align: center;
    padding: 15px;

    img {
      border-radius: 50%;
      height: 160px;
      width: 160px;
      object-fit: cover;
    }

    h3 {
      font-size: 20px;
      font-weight: bold;
      margin: 20px 0 10px;
    }
  }
}

#contact {
  padding: 130px 10%;

  h3 {
    text-align: center;
  }

  iframe {
    width: 100%;
    height: 100%;
    min-height: 350px;
  }

  .row {
    padding: 50px 0;

    .info-item {
      display: flex;
      // justify-content: center;
      padding: 10px 0;

      .column {
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        p {
          font-style: italic;
          padding-top: 10px;

          &:first-child {
            padding-top: 0;
          }
        }

        a {
          line-height: 25px;
          text-decoration: none;
          color: black;
        }

        span {
          font-style: italic;
        }
      }
    }

    form {
      padding-bottom: 30px;

      label {
        margin-bottom: 5px;
      }
    }
  }
}

footer {
  background: $blue;
  text-align: center;

  h5 {
    color: #fff;
    padding: 40px 10%;
  }
}
