/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Open Sans", sans-serif;
}

html h3 {
  font-size: 25px;
  font-weight: bold;
}

html p {
  font-size: 16px;
  line-height: 25px;
}

html.overflow {
  overflow: hidden;
}

nav {
  background: rgba(255, 255, 255, 0.08);
  position: fixed;
  width: 100%;
  z-index: 2;
}

nav .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10%;
}

nav .menu-container .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .menu-container .brand img {
  width: 40px;
  margin-right: 10px;
}

nav .menu-container .brand h3 {
  color: #fff;
  font-weight: bold;
}

nav .menu-container .menu-divider {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav .menu-container .menu-items ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav .menu-container .menu-items ul li {
  border: 2px solid transparent;
}

nav .menu-container .menu-items ul li a {
  font-size: 18px;
  text-decoration: none;
}

nav .menu-container .menu-items ul li:hover, nav .menu-container .menu-items ul li.active {
  border-bottom: 2px solid #fff;
}

nav .menu-container .menu-button {
  display: inline-block;
  height: 30px;
  width: 30px;
}

nav .menu-container .menu-button .bar {
  height: 1px;
  background-color: #fff;
  margin: 7px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav .menu-container .menu-button.show .bar {
  background-color: #000;
}

nav .menu-container .menu-button.show .top {
  -webkit-transform: rotate(-45deg) translate(-4px, 7px);
          transform: rotate(-45deg) translate(-4px, 7px);
}

nav .menu-container .menu-button.show .middle {
  opacity: 0;
}

nav .menu-container .menu-button.show .bottom {
  -webkit-transform: rotate(45deg) translate(-4px, -7px);
          transform: rotate(45deg) translate(-4px, -7px);
}

nav.scrolled {
  background-color: #fff;
}

nav.scrolled .menu-container h3 {
  color: #000;
}

nav.scrolled .menu-container .menu-items ul li a {
  color: #000;
}

nav.scrolled .menu-container .menu-items ul li:hover, nav.scrolled .menu-container .menu-items ul li.active {
  border-bottom: 2px solid #1b4658;
}

nav.scrolled .menu-container .menu-button .bar {
  background-color: #000;
}

@media only screen and (max-width: 894px) {
  nav .menu-container .menu-items {
    position: absolute;
    background: #fff;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  nav .menu-container .menu-items ul {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  nav .menu-container .menu-items ul li {
    padding: 10px 0;
    margin: 10px 0;
  }
  nav .menu-container .menu-items ul li a {
    color: #000;
  }
  nav .menu-container .menu-items ul li.active {
    border-bottom: 2px solid #1b4658;
  }
  nav .menu-container .menu-items.show {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media only screen and (min-width: 895px) {
  nav .menu-container .menu-items ul li {
    padding: 5px 15px;
    display: inline;
  }
  nav .menu-container .menu-items ul li a {
    color: #fff;
  }
  nav .menu-container .menu-button {
    display: none;
  }
}

#home {
  height: 100vh;
  position: relative;
  background-image: url("https://ucarecdn.com/8e4482f3-96ce-4bf7-8bdd-d0914ecf97e5/rsz_enrapture.jpg");
  background-size: cover;
}

#home .shortcut {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

#home .shortcut h4 {
  font-size: 60px;
  color: #fff;
  margin: 0;
  padding-bottom: 40px;
  font-weight: bold;
  line-height: 60px;
}

#home .shortcut a {
  padding: 15px 50px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border: 1px solid #fff;
}

#home .shortcut a:hover {
  background: #fff;
  color: #000;
}

#about {
  padding: 140px 10% 110px;
}

#about .image {
  background-image: url("https://ucarecdn.com/49bf06b6-c237-49c3-a246-51845d760ef9/rsz_bandura.jpg");
  background-position: center;
  background-size: cover;
  min-height: 300px;
}

#about .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 90px 5%;
}

#about .text h3 {
  margin-bottom: 15px;
}

@media only screen and (max-width: 991px) {
  #about .text {
    padding: 0;
    margin-top: 50px;
  }
}

#stats {
  background: #1b4658;
  text-align: center;
  color: #fff;
  padding: 60px 5%;
}

#stats .stat {
  margin: 15px 0;
}

#stats .stat h3 {
  margin-bottom: 15px;
}

#credit-cards {
  padding: 100px 20%;
  text-align: center;
}

#credit-cards h3 {
  margin: 20px 0 30px;
}

#credit-cards .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#credit-cards .row img {
  width: 50%;
  max-width: 150px;
  margin: 20px;
}

#tracking {
  text-align: center;
  background: #1b4658;
  color: #fff;
  padding: 100px 20px;
}

#tracking p {
  padding: 10px 0 40px;
}

#tracking a {
  padding: 10px 50px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
}

#tracking a:hover {
  background: #fff;
  color: #000;
}

#services {
  padding: 130px 5% 0;
}

#services h3 {
  text-align: center;
  margin-bottom: 50px;
}

#services .box {
  text-align: center;
  padding: 15px;
}

#services .box img {
  border-radius: 50%;
  height: 160px;
  width: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

#services .box h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0 10px;
}

#contact {
  padding: 130px 10%;
}

#contact h3 {
  text-align: center;
}

#contact .row {
  padding: 50px 0;
}

#contact .row .info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

#contact .row .info-item .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
  font-size: 18px;
}

#contact .row .info-item .column label {
  font-weight: bolder;
  padding-top: 10px;
}

#contact .row .info-item .column label:first-child {
  padding-top: 0;
}

#contact .row .info-item .column a {
  line-height: 25px;
  text-decoration: none;
  color: black;
}

#contact .row form {
  padding: 50px 0 30px;
}

#contact .row form label {
  margin-bottom: 5px;
}

#contact .row iframe {
  width: 100%;
  height: 100%;
  min-height: 350px;
}

footer {
  background: #1b4658;
  text-align: center;
}

footer h5 {
  color: #fff;
  padding: 40px 10%;
}
/*# sourceMappingURL=main.css.map */